<div class="container">
    <div class="row">

        <div class="col-sm-12">
            <div *ngFor="let movie of webService.movie_list">
                <div class="card text-white bg-primary mb-3" style="cursor:pointer" [routerLink] = "['/movies', movie._id]">
                    <div class="card-header">
                        {{ movie.title }}
                    </div>
                    <div class="card-body">
                        {{ movie.overview }}
                    </div>
                    <div class="card-footer">
                        {{ movie.budget }}
                        
                    </div>
                </div>
            </div>
        </div> <!-- col -->
    </div> <!-- row -->
    <div class="row">
        <div class="col-sm-6">
            <button class="btn btn-primary"
                    (click)="previousPage()">Previous</button>
        </div>
        <div class="col-sm-6 text-end">
            <button class="btn btn-primary"
                (click)="nextPage()">Next</button>
        </div>
    </div>
    
</div> <!-- container -->